.login-area{
    height: 100vh;
    background-color: antiquewhite;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgb(221, 161, 10);
    box-shadow: 0 1px 1px  rgb(221, 161, 10) inset, 0 0 8px rgb(221, 161, 10);
    outline: 0 none;
}